@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Quicksand";
}

:root {
  --light-green: #182220;
  --dark-green: #101414;
  --umpisa-color: #1a744e;
  --foreground-color: #CBDDE0;
}

/* Custom CSS */
::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #00aeff;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (prefers-color-scheme: dark) {
  
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground-color);
}

.gradient-background {
   background-image: radial-gradient(164.75% 100%, var(--light-green) 0%,var(--dark-green) 48.73%);
}